* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  margin-top: 7%;
  font-family: sans-serif;
}
header {
  margin-bottom: 2rem;
  text-align: center;
}

section {
  background-color: #fff;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  width: 500px;
  height: 500px;
  display: grid;
  place-items: center;
  padding: 1rem;
  border-radius: 0.5rem;
}
button {
  background-color: rgb(11, 223, 11);
  border: none;
  width: 200px;
  height: 50px;
  font-size: 1.2rem;
  font-weight: 600;
  color: #ffff;
  border-radius: 0.2rem;
  cursor: pointer;
}
